.App {
  text-align: center;
  overflow: auto;
  font-family: "Georgia";
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  margin-top: 20px;
}

.astronaut-pic {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.cleanestBumInTown {
  font-size: 27px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
}

.weWillBeInTouch {
  color: #64626A;
  font-size: 13px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-section1 {
  width: 100%;
  background-color: #B4D1D3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-header {
  background-color: #B4D1D3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.abode-and-abroad {
  font-size: '42px';
  font-weight: 600;
  line-height: '50px';
}

.App-link {
  color: #61dafb;
}

.header-title-1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
  margin: 35px 40px;
  font-family: "Poppins";
}

.header-title-2 {
  font-size: 16px;
  line-height: 24px;
  margin: 30px 40px;
}

.second-section {
  background-color: white;
}

.section2-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  margin: 40px 75px;
  font-family: "Poppins";
}

.section2-body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 40px 35px;
}

.section2-body2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 20px 35px;
}

.App-section3 {
  background: linear-gradient(325.06deg, #B4D1D3 6.07%, rgba(255, 255, 255, 0) 74.14%);
}

.section-divider {
  border-bottom: 1.5px lightgrey solid;
  margin: 60px 20px 0px;
}

.section3-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  margin: 40px 50px;
  font-family: "Poppins";
}

.section3-body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 40px 35px;
}

.frequencyCard {
  display: flex;
  box-sizing: border-box;
  border: 1.23338px solid #D9D9D9;
  border-radius: 6.16691px;
  margin: 10px 10%;
  position: relative;
}

.frequencyCardSelected {
  display: flex;
  box-sizing: border-box;
  border: 1.23338px solid #688285;
  border-radius: 6.16691px;
  margin: 10px 10%;
  position: relative;
}

.shitFaceContainer {
  background: #B4D1D3;
  border-radius: 4.53079px;
  width: 55px;
  height: 55px;
  margin:  7px;
  position: relative;
}

.frequencycard-text {
  display: flex;
  flex-direction: column;
  text-align: initial;
  margin:  7px 0;
}

.frequencycard-text-1 {
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Poppins";
}

.apprentice-shit-logo {

}

.frequencycard-text-list {
  font-size: 10px;
  color: #64626A;
  line-height: 15px;
  font-weight: 400;
}

.frequencycard-tick {
  position: absolute;
  right: 7px;
  top: 10px;
}

.Section3-packaging-mock {
  height: 300px;
  width: 90%;
  background-color: lightgray;
  margin: 20px auto;
}

.section4-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  margin: 40px 75px;
  font-family: "Poppins";
}

.review {
  margin: 10px;
}

.App-section5 {

}

.section5-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  margin: 40px 75px;
}

.section5-body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin: 40px 35px;
}

.section5-body-text {
  margin-top: 15px;
}

.teamwok-tiles {

}

.teamwork-tiles-each-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.section5-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  margin: 40px 75px;
}

.section6-title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
  margin: 40px 75px;
  font-family: "Poppins";
}

.profile-pictures {
  font-weight: 600;
  font-family: "Poppins";
  margin-top: 20px;
  font-size: 22px;
}

.profile-description {
  color: #828283;
  margin: 10px 30px 20px;
}

.FAQ1 {
  background-color: #B4D1D3;
}


.App-footer {
  background: black;
  color:  white;  
  padding: 10px 0 30px;
}

.divider {
  border-bottom: 2px white solid;
  margin: 30px 40px;
}

.support-careers-privacy-terms {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 13px;
  margin: 22px;
}

.privacy-policy {
  display: flex;
  text-align: center;
  justify-content: space-around;
  font-size: 13px;
  margin: 22px;
}

.rights-reserved {
  font-size: 10px;
  line-height: 16px;
}

.underlined {
  text-decoration: underline;
}

.contact-us {
  font-size: 16px;
  font-weight: 600;
}


.ios-drop-down-arrow {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @media (max-width: 400px) {
  .App-section1 {
    /* background-color: red; 
  }
} */

@media (min-width: 500px) and (max-width: 720px) {
  .App-section1 {
    /* background-color: blue; */
  }
}

@font-face {
  font-family: "Georgia";   /*Can be any text*/
  src: local("GeorgiaRegular"),
    url("./fonts/GeorgiaRegularFont.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";   /*Can be any text*/
  src: local("PoppinsRegular"),
    url("./fonts/PoppinsRegular.ttf") format("truetype");
}
